.MMM-Flights {
  min-width: 500px;
}

.MMM-Flights .table {
  border-spacing: 10px 0;
  border-collapse: separate;
  line-height: 1;
}

.MMM-Flights .logo {
  margin-right: 5px;
}

.MMM-Flights .right {
  text-align: right;
}

.MMM-Flights .small {
  font-size: small;
}

.MMM-Flights .regular {
  font-size: large;
}

.MMM-Flights .map {
  cursor: auto;
}

.MMM-Flights .map .ol-rotate {
  display: none;
}

.MMM-Flights .map .ol-attribution button {
  display: none;
}

.MMM-Flights .map .ol-attribution ul {
  font-size: x-small;
  list-style-type: none;
  bottom: -1px;
  position: absolute;
  right: 10px;
}

.MMM-Flights .map .ol-scale-line {
  border-radius: 4px;
  bottom: 8px;
  left: 8px;
  padding: 2px;
  position: absolute;
}

.MMM-Flights .map .ol-scale-line-inner {
  border: 1px solid black;
  border-top: none;
  color: black;
  font-size: 10px;
  text-align: center;
  margin: 1px;
  will-change: contents, width;
  transition: all 0.25s;
}
